* {
  /*border: 1px solid blue;*/
  font-family: 'Gloria Hallelujah', cursive;
}

body {
  background: azure;
}

h1 {
  font-size: 8px;
}

#container {
  width: 800px;
  height: 500px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  /*flex-wrap: wrap;*/
}

#choice {
  width:20%;
  height: 100%;
  text-align: center;
  font-size: 32px;


}

#play-the-game {
  text-align: center;
  font-size: 24px;
}

p + img {
  padding-top: 50px;
}


#choice-pic {
  width: 150px;
  height: 150px;
}

.rock {
  background: rgba(246, 48, 10, 0.5);
  font-weight: bolder;
}

.rock:hover {
  opacity: 0.8;
}

.paper {
  background: rgba(246, 239, 42, 0.5);
  font-weight: bolder;
}

.paper:hover {
  opacity: 0.8;
}

.scissors {
  background: rgba(209, 27, 126, 0.5);
  font-weight: bolder;
}

.scissors:hover {
  opacity: 0.8;
}

.lizard {
  background: rgba(10, 98, 218, 0.5);
  font-weight: bolder;
}

.lizard:hover {
  opacity: 0.8;
}

.spock {
  background: rgba(0, 192, 0, 0.5);
  font-weight: bolder;
}

.spock:hover {
  opacity: 0.8;
}

#rules {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

#rules > * {
  display: none;
}

#rules:hover > * {
  display: block;
}

#round-intro {
  background: white;
}

#computer-choosing {
  background: lightpink;
  text-align: center;
}

#comp-thinking {
  font-size: 5em;
  text-align: center;
  display: flex;
}

#thinking-box {
  height:300px;
  width:300px;
  padding-top: 60px;
  margin: 0 auto;
  display: flex;
}

#thinking-box > * {
  height: 300px;
  width: 300px;

}

#results {
  font-size: 3em;
  visibility: hidden;
}

#lets-play {
  background: rgba(246, 48, 10, 0.9);
  display:flex;
  margin: 0 auto;
}

section {
  width: 33.3%;
}

h3 {
  font-size: 32px;
}

#player-stats {
  text-align: center;
  border-right: 1px solid black;
}

#player-hand > img {
  height: 150px;
  weight:150px;
}

#player-score > div {
  height: 150px;
  weight:150px;
}

#computer-stats {
  text-align: center;
  border-left: 1px solid black;
}

#computer-hand > img {
  height: 150px;
  weight:150px;
}

#computer-score > div {
  height: 150px;
  weight:150px;
}

#game-stats {
  display: block;
  text-align: center;
}

#quit-button, #final-results, #another-round {
  font-size: 18px;
  border-radius: 10px;
  visibility: hidden;
}

#final-player-wins {
  background: rgba(246, 239, 42, 0.9);
}

#computer-reaction > img {
  width: 250px;
}

#player-reaction > img {
  width: 250px;
  
}

#play-again {
  font-size: 18px;
  border-radius: 10px;
}

#player-wins-game {
  font-size: 3em;
}
